@import "grid";
@import "text";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

$fondo:#1e1e1e;
$default-border-radius:10px;
$fondo-episodio:#232323;
$botones:#c3c3c3;
$boton_over:#ffcd38;
$titulo_video:#d2d2d2;
$video_txt:#222222;
$mail:#878787;
